/* Add any other custom styling as needed for animations, chatbot images, etc. */
.openai-page {
    .parallax-content {
      width: 100%;
      height: 700px; /* Adjust the height as needed */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      padding: 20px;
      /* opacity: 0.6; */
    }
  }
  
  h1{
    font-size: 50px;
    letter-spacing: 2px;
  }
  
  h1{
    color: black;
    font-weight: bold;
  }
  .box{
    width: 40%;
    border-radius: 15px;
    border: 1px solid grey;
    padding: 10px;
    background-color: rgb(189, 189, 189);
    opacity: 0.6;
    /* margin-top: -20px; */
  }
  .box2{
    width: 82%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 2px solid grey;
    padding: 10px;
  }
  .box2 > div:nth-child(1){
    width: 30%;
    height: 90%;
    font-size: 20px;
    font-weight: 300;
    border-radius: 15px;
    border: 2px solid grey;
  }
  .box2 > div:nth-child(1) > p{
    color: rgb(255, 217, 217);
  }
  .box2 > div:nth-child(2){
    width: 30%;
    height: 90%;
    border-radius: 15px;
    border: 2px solid grey;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSssnxvkXuV6_IeeVHuR9-jayTTT6lXwpklgQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box3{
    width: 20%;
    border-radius: 15px;
    border: 1px solid grey;
    padding: 10px;
    color: black;
    margin-left: -120px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    border-top-left-radius: 1px;
  }
  .video-cont{
    width: 100%;
    background-color: black;
    opacity: 0.5;
  }

  @media screen and (min-width: 400px) and (max-width: 800px){
    .box{
        display: none;
    }
    .box2{
        width: 82%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        border: 2px solid grey;
        padding: 10px;
      }
    .box2 > div:nth-child(1){
        display: none;
    }
    .box2 > div:nth-child(2){
        width: 100%;
        height: 90%;
    }
  }