.lang-main-cont{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://thumbs.gfycat.com/TestyDisloyalChinchilla-size_restricted.gif");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}
.mid-cont{
    width: 80%;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid white; */
}
.cont1{
    width: 100%;
    height: 82%;
    color: black;
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    /* border: 1px solid red; */
}
.cont1 > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: 1px solid white;
}
.cont1 > div > div:nth-child(1){
    width: 50%;
    height: 100%;
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWlzejIzbmNiYmRjajJmMThpZXNoNjlmdXAyNHR4NW1oMmoxdW5sMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/S60CrN9iMxFlyp7uM8/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.cont1 >  div > div:nth-child(2){
    width: 50%;
    height: 100%;
    display: flex;
    background-color: black;
    /* border: 1px solid red; */
}
.same{
    font-size: 11rem;
    margin: auto;
}
.cont2{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
}
.cont2 > button, select{
    color: white;
    padding: 10px;
    border: 3px solid white;
    background-color: black;
}
.cont2 > button:hover{
    color: green;
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    .mid-cont{
        width: 60%;
        height: 94%;
        flex-direction: column;
    }
    .cont1{
        height: 85%;
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
        /* border: 1px solid red; */
    }
    .cont1 > div > div:nth-child(1){
        width: 45%;
        background-size: contain;
    }
    .cont1 > div > div:nth-child(2){
        width: 45%;
        background-size: contain;
    }
    .cont1 > div{
        justify-content: space-around;
    }
    .cont2{
        justify-content: space-around;
        /* border: 1px solid white; */
    }
    .same{
        font-size: 7rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px){
    .cont1 > div > div:nth-child(1){
        display: none;
    }
    .cont1 > div > div:nth-child(2){
        width: 100%;
        background-size: contain;
    }
    .cont2{
        flex-direction: column;
    }
}

@media screen and (max-width: 599px){
    .mid-cont{
        width: 60%;
        height: 94%;
        flex-direction: column;
    }
    .cont1{
        height: 80%;
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
        /* border: 1px solid red; */
    }
    .cont1 > div > div:nth-child(1){
        display: none;
    }
    .cont1 > div > div:nth-child(2){
        width: 100%;
        background-size: contain;
    }
    .cont2{
        height: 20%;
        flex-direction: column;
    }
    .same{
        font-size: 5rem;
    }
}