.screen-main-cont{
    width: 100%;
    height: 90vh;
    z-index: 100;
    background-color: #010103;
}
.screen-main-cont > div:nth-child(1){
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: white;
}
.screen-main-cont > div:nth-child(1) > p{
    margin-top: 30px;
}
.screen-main-cont > div:nth-child(2){
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    /* border-top: 2px solid white; */
}
.screen-main-cont > div:nth-child(2) > div:nth-child(1){
    width: 80%;
    height: 100%;
    color: white;
    /* border-right: 2px solid white; */
}
.screen-main-cont > div:nth-child(2) > div:nth-child(2){
    width: 20%;
    height: 100%;
    color: white;
    /* border-right: 2px solid red; */
}

.sidebar1-main-cont{
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.sidebar1-main-cont > div:nth-child(1){
    width: 30%;
    height: 100%;
    /* border: 1px solid white; */
}
.sidebar1-main-cont > div:nth-child(2){
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
}
.sidebar1-main-cont > div:nth-child(1) > div:nth-child(1){
    /* width: 30%; */
    height: 15%;
    display: flex;
    justify-content: right;
    align-items: right;
    /* border: 1px solid white; */
}
.sidebar1-main-cont > div:nth-child(1) > div:nth-child(2){
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div{
    width: 100%;
    /* border: 1px solid red; */
    background-color: transparent;
}
.sidebar1-main-cont > div:nth-child(2) > div:nth-child(1){
    width: 90%;
    height: 70%;
    border: 2px solid gray;
    border-radius: 15px;
    /* border-right: 1px solid white; */
    /* border: 1px solid white; */
}
.sidebar1-main-cont > div:nth-child(2) > div:nth-child(2){
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    border-radius: 15px;
}
.screen-input-div > input{
    width: 92%;
    height: 100%;
    color: white;
    font-size: 1.1rem;
    padding: 0px 15px;
    text-decoration: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: transparent;
}
.screen-input-div > button{
    width: 8%;
    height: 100%;
    border: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: transparent;
}

.sidebar2-main-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
}
.sidebar2-main-cont > div{
    width: 75%;
    height: auto;
    /* border: 1px solid wheat; */
}
.sidebar2-main-cont > div:nth-child(1) > div > button{
    width: 100%;
    border: 2px solid gray;
    padding: 10px 0px;
    margin-top: 25px;
}
.sidebar2-main-cont > div:nth-child(1) > div > button:hover{
    border: 2px solid green;
}
.checkbox{
    width: 100%;
    border: 2px solid gray;
    padding: 10px 0px;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.scroll-div{
    width: 90%;
    text-align: justify;
    margin: 20px auto;
    /* border: 1px solid red; */
}
.seticon{
    margin: 120px 0  0 240px;
    width: 100%;
    background-color: transparent;
    font-size: 70px;
}